# Ignore artifacts:
package-lock.json
build
coverage
node_modules
dist
lang
vendor
package.json
composer.json
composer.lock
editor-style.css
fontello.json
README.md
style.css
webpack.config.js
.github
**/.git
src/assets/fontello
.prettierrc
fontello.js
.eslintrc.json
commitlint.config.js
src/icons.json
src/js/app.js
.husky
