{
    "tabWidth": 4,
    "overrides": [
        {
            "files": [
                "/src/sass/modules",
                "/src/sass/components",
                "/modules"
            ],
            "options": {
                "singleQuote": false
            }
        },
        {
            "files": [
                "**/*.scss",
                "**/*.sass"
            ],
            "options": {
                "printWidth": 120
            }
        }
    ]
}