{
    "tabWidth": 4,
    "overrides": [
        {
            "files": [
                "/src/sass/modules",
                "/src/sass/components"
            ],
            "options": {
                "singleQuote": false
            }
        },
        {
            "files": [
                "**/*.css"
            ],
            "options": {
                "printWidth": 120
            }
        }
    ]
}